In [6]:
import pandas as pd
import numpy as np

In [7]:
ilkIndex=["Elektrik","Elektrik","Elektrik","Yazilim","Yazilim","Yazilim"]

In [8]:
icIndex=["ESEN","AKSEN","ZOREN","LOGO","ARDYZ","INDES"]

In [9]:
birlesmisIndex=list(zip(ilkIndex,icIndex)) #birlestirme isleri zip ile yapiliyordu

In [10]:
birlesmisIndex

[('Elektrik', 'ESEN'),
 ('Elektrik', 'AKSEN'),
 ('Elektrik', 'ZOREN'),
 ('Yazilim', 'LOGO'),
 ('Yazilim', 'ARDYZ'),
 ('Yazilim', 'INDES')]

In [14]:
birlesmisIndex=pd.MultiIndex.from_tuples(birlesmisIndex)  #bu turde yazilir

In [15]:
birlesmisIndex #yazilim bir bosluktan sonra yazilmis cunku multiindex den dolayi

MultiIndex([('Elektrik',  'ESEN'),
            ('Elektrik', 'AKSEN'),
            ('Elektrik', 'ZOREN'),
            ( 'Yazilim',  'LOGO'),
            ( 'Yazilim', 'ARDYZ'),
            ( 'Yazilim', 'INDES')],
           )

In [17]:
HisseListem=[[19,7],[8,1],[3,0],[125,0],[48,1],[20,3]]

In [18]:
HisseNumpyDizisi=np.array(HisseListem)

In [25]:
HisseDataFrame=pd.DataFrame(HisseNumpyDizisi,index=birlesmisIndex,columns=["Fiyat","Artis"]) #asagidaki goruntuyu vermeye yarar

In [26]:
HisseDataFrame

                Fiyat  Artis
Elektrik ESEN      19      7
         AKSEN      8      1
         ZOREN      3      0
Yazilim  LOGO     125      0
         ARDYZ     48      1
         INDES     20      3

In [29]:
HisseDataFrame.loc["Elektrik"] #sadece elektrik bolumunu getirir

       Fiyat  Artis
ESEN      19      7
AKSEN      8      1
ZOREN      3      0

In [32]:
HisseDataFrame.loc["Elektrik"].loc["ESEN"] #Elektrik Bolumunden Esen i Getir

Fiyat    19
Artis     7
Name: ESEN, dtype: int32

In [35]:
HisseDataFrame.index.names=["Hisse Sektor","Hisse Adi"] #indexinin baslik adini degistirmeye yarar

In [36]:
HisseDataFrame

                        Fiyat  Artis
Hisse Sektor Hisse Adi
Elektrik     ESEN          19      7
             AKSEN          8      1
             ZOREN          3      0
Yazilim      LOGO         125      0
             ARDYZ         48      1
             INDES         20      3