In [2]:
import numpy as np
import pandas as  pd

# Series/Seriler

In [8]:
#numpy dizisine cok benzer
#excele benzer gorunum verir

In [9]:
sozlugum={"Abdullah ":50,"Semih":40,"Turhan":10} #abdullah 50, semih 40 , turhan 10 yasinda olarak tanimladim

In [10]:
pd.Series(sozlugum) #excel gorunumu veriyor ve en sonunda veri tipini gosteriyor

Abdullah     50
Semih        40
Turhan       10
dtype: int64

In [14]:
yaslarim=[50,40,30]
isimlerim=["Semih","Abdullah ","Turhan"]

In [15]:
pd.Series(yaslarim) #siralar

0    50
1    40
2    30
dtype: int64

In [18]:
pd.Series(yaslarim,isimlerim) #isimleri ve yaslari sira ile siraliyor ve parantez icindeki ogeyi 2. yazilani basa yaziyor

Semih        50
Abdullah     40
Turhan       30
dtype: int64

In [19]:
numpydizisi=np.array([50,40,300])

In [20]:
numpydizisi

array([ 50,  40, 300])

In [22]:
pd.Series(numpydizisi) # numpy dizisini excel gorunumune getiriyor

0     50
1     40
2    300
dtype: int32

In [24]:
pd.Series(numpydizisi,isimlerim) # isimlerim ve numpy dizizmdekileri excel gornumunde siralar
#parantez icinde 2. yazilan oge basa yaziliyor

Semih         50
Abdullah      40
Turhan       300
dtype: int32

In [26]:
pd.Series(["Semih","Abdullah","Turhan"],[1,2,3])

1       Semih
2    Abdullah
3      Turhan
dtype: object

pd.Series() parantez icerisine yazilan koseli parantezler icersinde ogeler belirlenebilir
ilk yazilan koseli parantez icerisindeki ogeyi 2. olarak yazdirir
ikinci yazilan koseli parante icerisindeki ogeyi 1. olarak yazdid

pd.Series() parantez icerisinde ilk yazilan oge veri(bilgi),ikinci yazilan oge index i olur

In [29]:
yarismasonucu1 = pd.Series([10,5,1],["Abdullah","Semih","Turhan"])

yarismasonucu1 de index olarak ["Abdullah","Semih","Turhan"] belirlediğim icin ilk onlar yazdirildi basa
veri olarak [10,5,1] belirlediğim icin ikinci olarak onlar yazdirildi

In [30]:
yarismasonucu1

Abdullah    10
Semih        5
Turhan       1
dtype: int64

In [33]:
yarismasonucu2 = pd.Series([20,10,8],["Abdullah","Semih","Turhan"])

In [34]:
yarismasonucu2

Abdullah    20
Semih       10
Turhan       8
dtype: int64

In [36]:
yarismasonucu2["Semih"] # semih indexinden veriyi cagirdi

10

In [39]:
sonuc= yarismasonucu1+yarismasonucu2 #indexlere bagli verileri topluyor

In [40]:
sonuc

Abdullah    30
Semih       15
Turhan       9
dtype: int64

In [43]:
FarkliSeri = pd.Series([20,30,40,50],["a","b","c","d"])

In [44]:
FarkliSeri2 = pd.Series([10,5,3,1,],["a","c","f","g"])

In [45]:
FarkliSeri

a    20
b    30
c    40
d    50
dtype: int64

In [46]:
FarkliSeri2

a    10
c     5
f     3
g     1
dtype: int64

In [48]:
FarkliSeri+FarkliSeri2 #indexleri ayni olan ogeleri topluyor indexleri fakli olan ogeleri ise "NaN",hata veriyor

a    30.0
b     NaN
c    45.0
d     NaN
f     NaN
g     NaN
dtype: float64